.Card {
  background: linear-gradient(to bottom, #4b4a4a, #000);
  border-radius: 20px;
  border: 1px solid rgb(129, 129, 129);
  box-shadow: 5px 5px 10px #9c9c9c;
  margin: 20px;
  padding-bottom: 40px;
  color: #fff;
  font-weight: bold;
}

.Card__Picture {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.Card__Name {
  border-radius: 20px;
  color: rgb(245, 208, 89);
  padding: 10px;
  max-width: 100px;
  margin: 20px auto;
  font-size: 1.2rem;
}

.Card__Title {
  color: rgb(119, 237, 253);
}
